.collections-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 15px;
  scroll-behavior: smooth;
}

.collections-container::-webkit-scrollbar {
  display: none;
}
.collections-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.collections {
  text-align: left;
  margin-top: 20px;
}

.collections h1 {
  margin-bottom: 15px;
  color: #262626;
  font-weight: 500;
}

.collections p {
  font-size: 1.1rem;
  color: #666;
  margin-top: 10px;
  max-width: 600px;
  margin-left: 0;
  margin-right: 0;
}

.collections-card {
  flex: 0 0 auto;
  position: relative;
  width: 300px;
  height: 370px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.collections-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  text-align: left;
}

.card-overlay h3 {
  font-size: 1.3rem;
  margin: 0;
}

.rating-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.rating-stars {
  width: 100px;
  height: auto;
}

.card-overlay p {
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 768px) {
  .collections-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
  }

  .collections h1 {
    font-size: 1.8rem;
  }

  .collections p {
    font-size: 0.9rem;
  }

  .collections-card {
    flex: 0 0 80%;
    width: 90%;
    height: auto;
  }

  .card-overlay h3 {
    font-size: 1.2rem;
  }

  .card-overlay p {
    font-size: 0.9rem;
  }
}
