.collections-banner-container {
  width: 100%;
  max-height: 400px;
  margin-top: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure relative positioning for absolute child */
}

.collections-banner {
  width: 100%;
  max-height: 400px;
  object-fit: cover; /* Ensure proportional image cover */
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.collection-contents {
  position: absolute; /* Place content over the banner */
  top: 70%;
  left: 50%;
  transform: translate(-100%, -50%);
  max-width: 800px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7); 
  border-radius: 15px;
  text-align: left;
  color: white;
  animation: fadeIn 2s ease-in-out;
}
.collection-contents h4 {
  font-size: clamp(14px, 4vw, 24px);
  font-weight: 500;
  color: #ffd700; 
}
.collection-contents h2 {
  font-weight: 600;
  font-size: clamp(20px, 5vw, 34px);
  margin-bottom: 3px;
}

.collection-contents p {
  font-size: clamp(14px, 1.5vw, 18px);
  line-height: 1.2;
  margin-bottom: 10px;
  color: rgb(151, 151, 151); 
}

/* Search bar styling */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.search-bar button {
  padding: 10px 15px;
  border: none;
  background-color: #ff5733;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #e04e2a;
}
