/* Navbar Container */
.navbar {
    padding: 20px 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    gap: 20px; 
}

.navbar-hamburger {
    display: none;
    cursor: pointer;
    z-index: 1001;
}

@media (max-width: 715px) {
    .navbar-hamburger {
        display: block;
    }
}


/* Logo */
.navbar .logo {
    width: 150px;
    transition: width 0.3s;
    align-items: left;
    display: flex;
}

/* Menu Styles */
.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-menu a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: tomato;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    pointer-events: none; /* Prevent redundant clicks */
}

/* Right Section */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Button Styles */
.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #fff4f2;
}

/* Search Icon Styles */
.navbar-search-icon {
    position: relative;
}

/* Cart Count */
.navbar-search-icon .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: tomato;
    color: white;
    border-radius: 50%;
    min-width: 18px;
    min-height: 18px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 2px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }

    /* Center logo */
    .navbar .logo {
        margin: 0 auto;
    }
}

@media (max-width: 715px) {
    .navbar-menu {
        display: none;
    }

    .navbar .logo {
        width: 100px;
        margin: 0 auto;
    }
}