/* Navbar styles */
.navbar {
    padding: 20px 40px 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
}

.navbar .logo {
    width: 150px;
    /* Default width */
    transition: width 0.3s;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

/* Navbar right section styles */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Button styles */
.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #fff4f2;
}

/* Active link styles */
.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

/* List item cursor */
.navbar li {
    cursor: pointer;
}

/* Search icon styles */
.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

/* Responsive styles */
@media (max-width: 1024px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }

    /* Center the logo on smaller screens */
    .navbar .logo {
        margin: 0 auto; /* Center the logo */
    }
}

/* Hide menu items on smaller screens */
@media (max-width: 715px) {
    .navbar-menu {
        display: none;
    }

    .navbar .logo {
        width: 100px; /* Focused logo width for smaller screens */
        margin: 0 auto; /* Center the logo */
    }
}
